*
!/.gitignore
!/Source/
!/Content/Blueprints/
!/Content/UI/

/Source/*.log
/Source/*.tmp
/Source/*.bak

# Content 폴더 내부에서 불필요한 파일 무시
/Content/Blueprints/*.tmp
/Content/UI/*.tmp
/Content/Blueprints/*.bak
/Content/UI/*.bak

*.tmp
*.log
*.bak
*.cache
*.DS_Store
Thumbs.db

Saved/
DerivedDataCache/
Intermediate/
Build/
